{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card border-info p-3">
                    <h1 class="card-header">Modifier mon profil</h1>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible mb-4 px-3">
                            <button type="button" class="close pl-0" data-dismiss="alert">&times;</button>
                            <i class="fas fa-info-circle"></i>
                            Vous pouvez modifier votre profil
                        </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-info">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


