.main {
    margin-top: 2rem;
}

div.adtitle {
    padding: 2rem;
    background-size: cover;
    background-position: center center;
}

div.adtitle h1, div.adtitle p {
    color: white;
    /*text-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/
}

div.carousel-caption {
    /*text-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

hr {
    border-top: 1px solid rgba(255,255,255,0.5);
}

i.fas, i.fab {
    margin-right: 0.25rem;
}

.avatar {
    border-radius: 50%;
}

.avatar-mini {
    width: 30px;
    height: auto;
}

.card-body a {
    color: #007053;
}

.card-body a:hover {
    color: #00bc8c;
}

.card-body a.btn {
    color: #fff;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: #00bc8c !important;
    background-image: none !important;
}