{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur Symfony4</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leurs biens à la location.</p>
            <hr class="bg-light my-4">
            <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <h1 class="card-header">Nos appartements stars !</h1>
                    <div class="card-body">
                        <div class="row">
                            {% for ad in ads %}
                                {% include 'ad/_ad.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light my-4">
        <div class="row">
            <div class="col-12">
                <div class="card p-3">
                    <h1 class="card-header">Nos propriétaires stars !</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card bg-secondary border-info mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">Lior Chamla</h4>
                                        <div class="card-text">
                                            <img src="http://placehold.it/64x64" alt="Avatar de Lior Chamla" class="rounded-circle float-left mr-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Adipisci aliquam dolorum exercitationem modi ratione sapiente.
                                                Alias asperiores atque deleniti et hic illo modi nam obcaecati, officia quae quis suscipit voluptatibus.
                                            </p>
                                            <a href="#" class="btn btn-info float-right">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card bg-secondary border-info mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title">Lior Chamla</h4>
                                        <div class="card-text">
                                            <img src="http://placehold.it/64x64" alt="Avatar de Lior Chamla" class="rounded-circle float-left mr-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Adipisci aliquam dolorum exercitationem modi ratione sapiente.
                                                Alias asperiores atque deleniti et hic illo modi nam obcaecati, officia quae quis suscipit voluptatibus.
                                            </p>
                                            <a href="#" class="btn btn-info float-right">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
